language: csharp
mono: 6.6.0 # Use specific mono version due to a cake failure: https://github.com/cake-build/cake/issues/2695
sudo: required
dist: xenial
dotnet: 5.0
before_install:
  - sudo apt-get install dotnet-sdk-6.0
script:
  - ./build.sh
