version: 2.1

orbs:
  windows: circleci/windows@5

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:

  build:
    executor:
      name: windows/default
    steps:
      - checkout
      - run:
          name: "Setup custom environment variables"
          command: echo 'export CIRCLE_CI=true' >> "$BASH_ENV"
      - run:
          name: "build okta aspnet"
          command: .\build.ps1

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  "Circle CI Build":
    jobs:
      - build