version: 2.1

orbs:
  windows: circleci/windows@5

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:

  build:
    executor:
      name: windows/default
    environment:
      CIRCLE_CI: True
    steps:
      - checkout      
      - run:
          name: "build okta aspnet"
          command: .\build.ps1
      - store_artifacts:
          path: artifacts

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  "Circle CI Build":
    jobs:
      - build
